@import "tailwindcss";

@font-face {
  font-family: Estedad;
  src: url(../public/assets/font/Estedad-Regular.ttf);
}

* {
  font-family: Estedad;
}
table tr:nth-child(even) {
  background-color: #dadada; /* Light gray */
  color: #000000; /* Dark text */
}

.pup_up {
  background: rgba(0, 0, 0, 0.534);
}

.pup_up_form input:invalid{
    border: solid 1px red;
}